/* Add CSS styling here */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    max-width:100%;
    /* border:1px solid grey; */
}

/*General Styles*/
html{
    font-size:62.5%;
}
body{
    font-size:1.8rem;
    line-height:1.5;
    color:black;
    background-color:#FBFFFB;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'PT Serif', serif; */
}
h1{
    font-size:6rem;
}
h2{
    font-size:3rem;
}
h3{
    font-size:1.5rem;
}
a{
    text-decoration: none;
    color:hsl(352, 88%, 55%);
}
button {
    padding:.2% 3%;
    border:none;
    border-radius:5px;
    background-color:#ffdd99;
    color:hsl(352, 88%, 55%);
    font-size:1.5rem;
}
button:hover{
    background-color:white;
    color:hsl(352, 88%, 55%);
}
/* helper classes */
.bg-img{
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

/* header section styles! */
nav p{
    font-weight: bold;
    text-transform: uppercase;
    color:hsl(352, 88%, 55%);
}
nav a{
    padding: 1rem;

}
nav{
    width:100%;
    padding:1%;
    font-weight:lighter;
    display:flex;
    justify-content:space-between
}
div.links{
    font-size: 1.5rem;
    display:flex;
    justify-content: space-between;
}
header a:hover{
    font-weight:bold;
}

.intro{
    color:white;
    height:80vh;
    background-image: url(../images/mymind-KnUX9qtR_4E-unsplash.jpg);
    display:flex;
    justify-content: center;
    align-content: center;
}
.intro-text{
    padding:20%;
}
.intro-text p{
    margin-bottom: 5%;
}
.button{
    display:flex;
    justify-content: center;
}
.button button{
    padding:2% 3%;
}

/* list sections styles */
.list{
    margin: 10% 0;
    width:70%;
    text-align: center;
}
div.headshot{
    width:30%;
    padding: 4% 11% 4% 0%;
}

.list li {
    padding:2%;
    list-style-type:disc;
    list-style-position: inside;
    color:hsl(352, 88%, 55%);
}
.headshot img{
    border-radius:50%;
}
.list-container{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
ul{
    display:flex;
    margin: 6%;
}

/* project section styles */
.container{
    text-align: center;
    padding:0;
    margin-bottom: 20%;
    color:white;
    height:90vh;
    display:flex;
    flex-wrap: wrap;
}
/* .container h2{
    opacity:0%;
}
.container h2:hover{
    opacity:100%;
} */

.project-one{
    background-image: url(../images/project1.jpg);
    width:33.33%;
}
.project-two{
    background-image: url(../images/project2.jpg);
    width:33.333%;
}
.project-three{
    background-image: url(../images/project3.jpg);
    width:33.333%;
}
.project-four{
    background-image: url(../images/project4.jpg);
    width:33.333%;
}
.project-five{
    background-image: url(../images/project6.jpg);
    width:33.333%;
   
}
.project-six{
    background-image: url(../images/project5.jpg);
    width:33.333%;
}

/* footer styles */
footer{
    padding: 2% 0;
    text-align:center;
    background-color:#e66022da;
    color:white;
    display:flex;
    flex-direction:column;
    align-content: center;
}
.footer-text{
    font-size: 3rem;
}
.footer-text h3{
    margin: .3%;
    font-size:2rem;
}

/* media queries for tablet and mobile */

/* tablet */
@media (max-width:800px){
    ul{
        flex-direction: column;
    }
    .headshot img{
        margin-top: 60%;
    }
    .project-one{
        background-image: url(../images/project1.jpg);
        width:50%;
    }
    .project-two{
        background-image: url(../images/project2.jpg);
        width:50%;
    }
    .project-three{
        background-image: url(../images/project3.jpg);
        width:50%;
    }
    .project-four{
        background-image: url(../images/project4.jpg);
        width:50%;
    }
    .project-five{
        background-image: url(../images/project6.jpg);
        width:50%;
       
    }
    .project-six{
        background-image: url(../images/project5.jpg);
        width:50%;
    }
}

/* mobile */
@media (max-width:500px){
    h1{
        font-size: 3rem;
    }
   nav{
       flex-direction: column;
       text-align: center;
       font-size: 2rem;
   }
   div.links{
       flex-direction: column;
       width:100%;
       font-size: 1.6rem;
   }
   nav p{
       width:100%;
   }
   .intro{
       height:60vh;
       text-align: center;
   }
   div.list{
       width:60%;
   }
   div.headshot{
       width:40%;
   }
   .button button{
    font-size: 1.8rem;
}
.container{
    margin-bottom: 0;
}
.project-one{
    border:20px solid white;
}
.project-two{
    border:20px solid white;
}
.project-three{
    border:20px solid white;
}
.project-four{
    border:20px solid white;
}
.project-five{
    border:20px solid white;
}
.project-six{
    border:20px solid white;
}
}