/* Add CSS styling here */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    max-width:100%;
    /* border:1px solid grey; */
}

/*General Styles*/
html{
    font-size:62.5%;
}
body{
    font-size:1.8rem;
    line-height:1.5;
    color:black;
    background-color:#FBFFFB;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'PT Serif', serif; */
}
h1{
    font-size:6rem;
}
h2{
    font-size:3rem;
}
h3{
    font-size:1.5rem;
}
a{
    text-decoration: none;
    color:black;
}
button {
    padding:.4% 3%;
    border:none;
    border-radius:5px;
    background-color:#ffdd99;
    color:white;
    font-size:1.5rem;
}
/* helper classes */
.bg-img{
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

/* header section styles! */
nav p{
    font-weight: bold;
    text-transform: uppercase;
    color:hsl(352, 88%, 55%);
}
nav a{
    color:hsl(352, 88%, 55%);
}
nav{
    padding:1%;
    font-weight:lighter;
    display:flex;
    justify-content:space-between
}
div.links{
    font-size: 1.5rem;
    width:25%;
    display:flex;
    justify-content: space-between;
}
header a:hover{
    font-weight:bold;
}

.intro{
    color:white;
    height:80vh;
    background-image: url(../images/mymind-KnUX9qtR_4E-unsplash.jpg);
    display:flex;
    justify-content: center;
    align-content: center;
}
.intro-text{
    padding:15%;
}
.intro-text p{
    margin-bottom: 5%;
}
.button{
    display:flex;
    justify-content: center;
}
.button button{
    padding:1% 2%;
}
.button button:hover{
    background-color:white;
    color:hsl(352, 88%, 55%);
}
/* list sections styles */
.list{
    margin: 10% 0;
    width:65%;
    text-align: center;
}
div.headshot{
    width:35%;
    padding: 4.5%;
}

.list li {
    list-style-type: square;
    list-style-position: inside;
    color:hsl(352, 88%, 55%);
}
.headshot img{
    border-radius:50%;
}
.list-container{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
ul{
    display:flex;
    margin-top:6%;
    /* flex-direction: column; */
}

/* project section styles */
.container{
    text-align: center;
    padding:0;
    color:white;
    height:90vh;
    display:flex;
    flex-wrap: wrap;
}
/* .container h2{
    opacity:0%;
}
.container h2:hover{
    opacity:100%;
} */

.project-one{
    background-image: url(../images/project1.jpg);
    width:33.33%;
}
.project-two{
    background-image: url(../images/project2.jpg);
    width:33.333%;
}
.project-three{
    background-image: url(../images/project3.jpg);
    width:33.333%;
}
.project-four{
    background-image: url(../images/project4.jpg);
    width:33.333%;
}
.project-five{
    background-image: url(../images/project6.jpg);
    width:33.333%;
   
}
.project-six{
    background-image: url(../images/project5.jpg);
    width:33.333%;
}

/* footer styles */
footer{
    padding: 2% 0;
    text-align:center;
    background-color:#e66022da;
    color:white;
    display:flex;
    flex-direction:column;
    align-content: center;
}
.footer-text{
    font-size: 3rem;
}
.footer-text h3{
    margin: .3%;
    font-size:2rem;
}