/* Add CSS styling here */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    max-width:100%;
    border:1px solid grey;
}

/*General Styles*/
html{
    font-size:62.5%;
}
body{
    font-size:1.8rem;
    line-height:1.5;
    color:black;
    background-color:#FBFFFB;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'PT Serif', serif; */
}
h1{
    font-size:6rem;
}
h2{
    font-size:3rem;
}
h3{
    font-size:1.5rem;
}
a{
    text-decoration: none;
    color:black;
}
button {
    padding:.4% 1.5%;
    border-radius:5px;
    background-color: coral;
    color:white;
    font-size:1.5rem;
}
/* helper classes */
.bg-img{
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
/* header section styles! */
nav p{
    font-weight: bold;
}
nav{
    font-weight:lighter;
    text-transform: uppercase;
    display:flex;
    justify-content:space-between

}
.intro{
    color:white;
    height:80vh;
    background-image: url(../images/mymind-KnUX9qtR_4E-unsplash.jpg);
    display:flex;
    justify-content: center;
    align-content: center;
}


/* project section styles */
.container{
    padding:5% 0;
    color:white;
    height:90vh;
    display:flex;
    flex-wrap: wrap;


}

.project-one{
    background-image: url(../images/project1.jpg);
    width:33.33%;
}
.project-two{
    background-image: url(../images/project2.jpg);
    width:33.333%;
}
.project-three{
    background-image: url(../images/project3.jpg);
    width:33.333%;
}
.project-four{
    background-image: url(../images/project4.jpg);
    width:33.333%;
}
.project-five{
    background-image: url(../images/project5.jpg);
    width:33.333%;
   
}
.project-six{
    background-image: url(../images/project6.jpg);
    width:33.333%;
}

/* footer styles */
footer{
    text-align:center;
    display:flex;
    flex-direction:column;
    align-content: center;
}